.song-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  gap: 18px;
  margin-top: 24px;
}

.song-background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.song-background > img {
  height: 200px;
}

.play-icon,
.card-pause-icon {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  width: 90px;
}

.card {
  padding: 13px;
  background-color: rgba(75, 73, 73, 0.5);
  border-radius: 8px;
}

.title {
  font-weight: bold;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}

.artist {
  color: white;
  font-size: 13px;
  margin-top: 8px;
}

.add-icon {
  display: flex;
  justify-content: right;
  cursor: pointer;
}

.add-icon img {
  height: 20px;
}
