select {
  background-color: rgb(25, 25, 25);
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
}

.genre-selector-container {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.search-icon {
  height: 24px;
  cursor: pointer
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container input {
  background-color: transparent;
  border: none;
  margin-left: 12px;
  color: white
}

.input-container input::placeholder {
  color: #c8cacd;
  font-size: 16px;
}

.header {
  color: white;
  font-weight: 700;
  font-size: 26px;
}