.song-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: rgba(230, 216, 216, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  backdrop-filter: blur(10px); 
  padding: 36px
}

.pause-icon,
.nav-play-icon {
  height: 40px;
  cursor: pointer
}

.nav-song-info {
  display: flex;
  align-items: center;
}

.artist-image {
  height: 70px;
  border-radius: 35px;
  margin-right: 12px
}

.nav-title {
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
}

.nav-artist {
  color: white;
  font-size: 13.5px;
}