.song-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: rgba(230, 216, 216, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  backdrop-filter: blur(10px); 
  padding: 36px
}

.pause-icon,
.nav-play-icon {
  height: 35px;
  cursor: pointer;
  margin: 0 1.6em
}

.nav-song-info {
  display: flex;
  align-items: center;
}

.artist-image {
  height: 70px;
  border-radius: 35px;
  margin-right: 12px
}

.nav-title {
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
}

.nav-artist {
  color: white;
  font-size: 13.5px;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tools {
  display: flex;
  align-items: center
}

.fast-forward-icon,
.rewind-icon {
  height: 30px;
  cursor: pointer
}

.fast-forward-icon {
  margin-right: 1.6em
}

.replay-icon,
.spin-icon {
  height: 20px;
  margin-right: 1.6em;
  cursor: pointer
}

.replay-icon:hover {
  stroke: red
}

.volume-container {
  display: flex;
  align-items: center;
}

.volume-icon {
  height: 30px;
  margin-right: 8px
}
input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  /*  overflow: hidden;  remove this line*/
  
  /* New additions */
  height: 6px;
  background: #ccc;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color: rgb(0, 64, 255);
  border-radius: 50%;
  border: none;

  /* box-shadow: -407px 0 0 400px #f50; emove this line */
  transition: .2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: #0040ff;
  border-radius: 50%;
  border: none;
  
  /* box-shadow: -407px 0 0 400px #f50; emove this line */
  transition: .2s ease-in-out;
}

/* Hover, active & focus Thumb: Webkit */

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(0, 64, 255, 0.1)
}
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(0, 64, 255, 0.2)
}
input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(0, 64, 255, 0.2)
}

/* Hover, active & focus Thumb: Firfox */

input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(0, 64, 255, 0.1)
}
input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(0, 64, 255, 0.2)
}
input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(0, 64, 255, 0.2)    
}

/*=============
Aesthetics 
=========================*/
.volume-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 500px;
  margin: 0 auto;
  height: 4rem;
  width: 80%;
  background: #fff;
  padding: 0px 10px;
}