.song-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: rgba(230, 216, 216, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  backdrop-filter: blur(10px); 
  padding: 36px
}

.pause-icon,
.nav-play-icon {
  height: 35px;
  cursor: pointer;
  margin: 0 1.6em
}

.nav-song-info {
  display: flex;
  align-items: center;
}

.artist-image {
  height: 70px;
  border-radius: 35px;
  margin-right: 12px
}

.nav-title {
  color: white;
  font-weight: bold;
  margin-bottom: 5px;
}

.nav-artist {
  color: white;
  font-size: 13.5px;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tools {
  display: flex;
  align-items: center
}

.fast-forward-icon,
.rewind-icon {
  height: 30px;
  cursor: pointer
}

.fast-forward-icon {
  margin-right: 1.6em
}

.replay-icon,
.spin-icon {
  height: 20px;
  margin-right: 1.6em;
  cursor: pointer
}

.replay-icon:hover {
  stroke: red
}