.sidebar {
  background-color: #191624;
  padding: 30px 18px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 220px;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo-container img {
  height: 60px;
}

.links {
  margin-top: 4em;
}

.link-container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.label {
  color: #e5e7eb;
  margin-left: 6px;
  cursor: pointer;
}

.git-hub-link img {
  height: 40px;
  margin-right: 8px;
}

.git-hub-link {
  color: white;
  display: flex;
  align-items: center;
}

.git-hub-link a {
  text-decoration: none;
  color: white;
}
